.footer {
    background-color: #432638;
    color: #fff;
    text-align: center;
    padding: 20px 0; 
    position: relative;
    box-sizing: border-box;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    padding: 10px;
    box-sizing: border-box;
}

.footer-block {
    flex: 1;
    min-width: 200px;
    margin: 10px;
    box-sizing: border-box;
    text-align: left;
}

.footer-block h4 {
    margin-bottom: 10px;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

.links {
    display: flex;
    flex-wrap: wrap; 
}

.social-icon {
    width: 30px; 
    height: auto; 
    margin: 5px; 
}

.book-now button {
    height: 50px;
    width: 120px;
    padding: 10px 20px;
    background-color: #e21262;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-now button:hover {
    background-color: #8d0034;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: left;
    }

    .footer-block {
        width: 100%;
        text-align: left;
    }
}
